.main {
    width: 200px;
    height: auto;
    border: 1px solid black;
}

ul li {
    font-size: 25px;
    list-style: none;
    border: 1px solid black;
    cursor: pointer;
    margin: 5px;
    text-align: center;
    
}

ul {
    padding: 0;
}

.column {
  
  width: 150px;

  
 
  margin-right: 5px;


  text-align: center;
  cursor: move;
}
.column header {

  text-shadow: #000 0 1px;
  box-shadow: 5px;
  padding: 5px;
  
  border: 1px solid;
  
}